name: Release Go
on:
  workflow_call:
    inputs:
      bump-level:
        type: string
        required: true
        description: Determines which part of the version to increment [patch/minor/major]
      go-version-file:
        type: string
        default: go.mod
        required: false
        description: Path to the version file for Go, such as .go-version, go.mod or go.work.
      homebrew-tap-repository:
        type: string
        required: false
        description: The repository for Homebrew formulae used to install tools on macOS.
      app-private-key-fingerprint:
        type: string
        required: false
        description: The fingerprint of the private key for GitHub Apps.
    secrets:
      app-id:
        required: false
        description: GitHub Apps ID
      app-private-key:
        required: false
        description: Private key for GitHub Apps

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
      packages: write
      id-token: write
      attestations: write
    outputs:
      version: ${{ steps.bump.outputs.version }}
      checksum-hashes: ${{ steps.metadata.outputs.checksum-hashes }}
      manifest-digest: ${{ steps.metadata.outputs.manifest-digest }}
    steps:
      - name: Check actor access
        if: ${{ github.repository_owner != github.actor }}
        run: exit 1

      - name: Checkout
        uses: tmknom/checkout-action@v1

      - name: Set up Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: ${{ inputs.go-version-file }}

      - name: Bump Version
        id: bump
        uses: tmknom/bump-version-action@87bed7f224292cab5b46a4cae9897bbf64153f00 # v0.2.1
        with:
          bump-level: ${{ inputs.bump-level }}

      - name: Push Version Tag
        uses: tmknom/push-version-tag-action@a9d1b46f9c29d3db510771452257b228bfd8a33f # v0.1.1
        with:
          version: ${{ steps.bump.outputs.version }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@dc72c7d5c4d10cd6bcb8cf6e3fd625a9e5e537da # v3.7.0

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@df80a981bc6edbc4e220a492d3cbe9f5547a6e75 # v0.17.6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Log private key's fingerprint
        if: ${{ inputs.app-private-key-fingerprint != '' }}
        env:
          FINGERPRINT: ${{ inputs.app-private-key-fingerprint }}
        run: |
          echo "fingerprint=${FINGERPRINT}"

      - name: Create GitHub App token
        id: app
        uses: actions/create-github-app-token@5d869da34e18e7287c1daad50e0b8ea0f506ce69 # v1.11.0
        with:
          app-id: ${{ secrets.app-id }}
          private-key: ${{ secrets.app-private-key }}
          repositories: homebrew-tap, homebrew-test-tap

      - name: Run GoReleaser
        id: goreleaser
        uses: goreleaser/goreleaser-action@9ed2f89a662bf1735a48bc8557fd212fa902bebf # v6.1.0
        with:
          distribution: goreleaser
          version: ~> v2
          args: release --clean --verbose
        env:
          GITHUB_TOKEN: ${{ github.token }}
          HOMEBREW_TAP_REPOSITORY: ${{ inputs.homebrew-tap-repository }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ steps.app.outputs.token }}

      - name: Attest binaries
        uses: actions/attest-build-provenance@7668571508540a607bdfd90a87a560489fe372eb # v2.1.0
        with:
          subject-path: dist/

      - name: Generate metadata
        id: metadata
        env:
          ARTIFACTS: ${{ steps.goreleaser.outputs.artifacts }}
        run: |
          set -x
          checksum_file="$(jq -r '.[] | select (.type=="Checksum") | .path' <<<"${ARTIFACTS}")"
          checksum_hashes="$(base64 -w0 "${checksum_file}")"
          echo "checksum-hashes=${checksum_hashes}" >> "${GITHUB_OUTPUT}"

          manifest_digest="$(jq -r '. | map(select(.type=="Docker Manifest"))[0] | .extra.Digest' <<<"${ARTIFACTS}")"
          echo "manifest-digest=${manifest_digest}" >> "${GITHUB_OUTPUT}"

      - name: Attest container images
        uses: actions/attest-build-provenance@7668571508540a607bdfd90a87a560489fe372eb # v2.1.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.metadata.outputs.manifest-digest }}
          push-to-registry: true

      - name: Upload Artifact
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: dist
          path: dist/
          retention-days: 1

  binary-provenance:
    # Must be referenced by a tag. https://github.com/slsa-framework/slsa-github-generator/blob/main/internal/builders/container/README.md#referencing-the-slsa-generator
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.0.0
    with:
      base64-subjects: ${{ needs.release.outputs.checksum-hashes }}
      upload-tag-name: ${{ needs.release.outputs.version }}
      upload-assets: true
      draft-release: true
    permissions:
      contents: write
      id-token: write
      actions: read
    needs: [release]

  image-provenance:
    # Must be refernced by a tag. https://github.com/slsa-framework/slsa-github-generator/blob/main/internal/builders/container/README.md#referencing-the-slsa-generator
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.0.0
    with:
      image: ghcr.io/${{ github.repository }}
      digest: ${{ needs.release.outputs.manifest-digest }}
      registry-username: ${{ github.actor }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      packages: write
      id-token: write
      actions: read
    needs: [release]

  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [release, binary-provenance, image-provenance]
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: tmknom/checkout-action@v1

      - name: Publish release
        env:
          VERSION: ${{ needs.release.outputs.version }}
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          set -x
          gh release edit "${VERSION}" --draft=false
